.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  
  @media only screen and (min-width: 768px) {
    width: 800px;
  }
}

header {
  width: 100%;
  height: min-content;
}

mat-toolbar {
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
  background-color: lightblue;
}
