.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

header {
  width: 100%;
  height: min-content;
}

mat-toolbar {
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
  background-color: lightblue;
  // flex-direction: column;
  // display: flex;
}
