.decision {
  margin: 0;
  flex: 1;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcoral;
  border: 2px solid white;
  border-radius: 5px;
  left: 0px;
  box-sizing: border-box;
  color: white;
  cursor: move;

  &.hot {
    transition: left 0.5s;
    left: -100%;
  }
  
  &.not {
    transition: left 0.5s;
    left: 100%;
  }

  &.next {
    z-index: 1;
  }

  &.empty {
    cursor: default;
  }

  .content {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  &__stack {
    display: block;
    height: 100%;
  }
}
